@import url('https://fonts.googleapis.com/css?family=Oswald');

.top-nav-collapse {
    background-color: #393e41 !important; 
}

.navbar:not(.top-nav-collapse) {
    background: #393e41 !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #393e41 !important;
    } 
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px; 
    } 
    
    .main-answ {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    
    .main-quest {
        font-size: 1rem;
    }
}

.big-paragraph {
    font-size: 1.25rem;
}
