@import url('https://fonts.googleapis.com/css?family=Oswald');

.top-nav-collapse {
    background-color: #393e41 !important; 
}

.navbar:not(.top-nav-collapse) {
    background: #393e41 !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #393e41 !important;
    } 
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

@media (max-width: 500px) {
    
    .main-quest {
        font-size: 1rem;
    }
    
    .main-answ {
        font-size: 1.7rem;
    }
}

.big-paragraph {
    font-size: 1.25rem;
}

.main-answ {
    text-transform: none;
}





.hline {
    height: 1px;
    background-color: #ffc107;
    width: 80%;
}
