@import url('https://fonts.googleapis.com/css?family=Neucha');

html,
body,
.view {
    height: 100%;
}

.view {
    background: url("../img/wendy-rueter-316018-unsplash%20(1).jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        position: relative;
    }
}

.navbar {
    background-color: rgba(256, 256, 256, 0.2);
}

.top-nav-collapse {
    background-color: rgba(256, 256, 256, 0.8);
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(256, 256, 256, 0.8);
    }
}



@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

.noborder {
    border-radius: 0px;
}

.custom-header {
    font-family: 'Neucha', cursive;
}

.light-bg {
    padding: 30px;
    background-color: rgba(256, 256, 256, 0.4);
    border-radius: 20px;
}