@import url('https://fonts.googleapis.com/css?family=Rajdhani');

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.8s;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
}

.full-h {
    min-height: 100vh;
    display: table;
}
.vertical-centered {
    display: table-cell;
    vertical-align: middle;
}

.menu-bar {
    background-color: #101010;*/
    transition: 0.2s;
    border: solid #fff 1px;
}

.menu-bar:hover {
    transition: 0.2s;
    border: solid #ff2700 8px;
    background-color: rgba(0, 0, 0, 0);*/
}

h2 {
    transition: 0.3s;
    transition-delay: 0.3s;
    text-decoration: underline;
    text-decoration-line: overline;
    font-family: 'Rajdhani', sans-serif;
    font-size: 3rem;
}

.menu-bar:hover h2{
    transition: 0.3s;
    transition-delay: 0.3s;
    text-decoration: underline;
    text-decoration-line: overline;
    text-decoration-color: #ff2700;
}

@media (max-width: 768px) {
    .full-h {
        max-height: 22vh;
        min-height: 22vh;
    }
    
    h2 {
        text-decoration: none;
    }
    
    .menu-bar:hover h2{
        text-decoration: none;
    }
}

