@import url('https://fonts.googleapis.com/css?family=Oswald');
.thin-paragraph {
    line-height: 1.1;
    color: #2e2e2e;
}

.main-banner-text {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #2e2e2e;
}

#main-banner {
    background-image: url(../img/banner11.png);
    background-position: top;
    background-size: cover;
}

@media (max-width: 992px) {
    #main-banner {
        background-image: url(../img/banner11.png);
        background-position: left;
    }
}

.red-header {
    text-transform: uppercase;
    color: darkred;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none !important;
}

.navbar {
    background-color: #02001a;
}

.blue-border {
    border: 2px solid #007bff;
    border-radius: 2px;
}

.custom-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance:none;
    appearance: none;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 12px;
    outline: 0px;
}

.custom-radio:checked:after {
    content: '';
    background: #fff;
    display: block;
    height: 12px;
    width: 12px;
    margin: 6px;
    border-radius: 12px;
}

.horizontal-line {
    height: 1px;
    background-color: #ddd;
}

.custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance:none;
    appearance: none;
    content: '';
    width: 24px;
    height: 24px;
    border-radius:3px;
    outline: 0px;
    box-sizing: content-box;
}

.custom-checkbox:checked:after {
    content: '';
    background: #fff;
    display: block;
    height: 12px;
    width: 12px;
    margin: 6px;
    border-radius: 3px;
}

.footer-dark-blue {
    background-color: #02001a;
}

.fa-minus,
.fa-plus {
    color: #007bff;
}

.footer-link {
    color: white !important;
}

.footer-link:hover {
    color: white !important;
}
